rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /meetings/{meetId} {
      match /ivods/{ivodId} {
        match /speeches/{speechId} {
          allow read: if request.auth != null;
        }
      }
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
