:host::ng-deep .p-dataview .p-dataview-content {
    background: transparent;
    color: var(--surface-300);
}

:host::ng-deep {
    .p-skeleton:after {
        background: linear-gradient(90deg, rgba(65, 92, 209, 0), rgba(15, 38, 138, 0.2), rgba(65, 92, 209, 0))
    }
    .summary-content-panel {
        height: 50vh;
    }
    .link-container{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .description-box:hover {
        cursor: pointer;
    }
}

:host::ng-deep.small-bar {
    height: 0.5rem;
}