<app-search-bar (onSearch)="onSearch($event)" [showFacets]="false">
</app-search-bar>

<div class="flex flex-column h-full w-full">
  <div class="flex flex-column p-3 lg:pl-8 lg:py-4 md:col-8 lg:col-7">
    @for (news of newsReports; track $index) {
      <app-news-report [newsReport]="news" class="my-3"></app-news-report>
    }
  </div>
  <div class="flex justify-content-center md:col-8 lg:col-7">
    @if (isLoading) {
      <p-progressSpinner
        styleClass="w-2rem h-2rem"
        strokeWidth="5"
        animationDuration="1s"></p-progressSpinner>
    } @else if (hasMore) {
      <p-button
        label="載入更多"
        icon="pi pi-angle-double-down"
        styleClass="p-button-secondary p-1"
        (onClick)="loadMore()"></p-button>
    }
  </div>
</div>
