<mat-toolbar>
  <mat-toolbar-row class="lg:hidden">
    <p-avatar
      image="/assets/logo.png"
      styleClass="mr-2 cursor-pointer"
      size="normal"
      shape="circle"
      (click)="goHome()" />
    <span class="spacer"></span>
    <app-user-button></app-user-button>
    <app-navbar-button></app-navbar-button>
  </mat-toolbar-row>
  <mat-toolbar-row
    class="flex justify-content-center lg:justify-content-around">
    <p-avatar
      image="/assets/logo.png"
      styleClass="mr-2 cursor-pointer hidden lg:block"
      size="large"
      shape="circle"
      (click)="goHome()" />
    <span class="spacer"></span>
    <div class="flex align-items-center ml-2 w-11 lg:w-8">
      <p-iconField iconPosition="right" class="w-full">
        <p-inputIcon
          styleClass="pi pi-search cursor-pointer"
          (click)="onSearchClick()" />
        <input
          type="text"
          class="search-input shadow-1"
          pInputText
          [(ngModel)]="query"
          (keydown.enter)="onSearchClick()"
          (ngModelChange)="queryChange.emit($event)" />
      </p-iconField>
    </div>
    @if (showGemini) {
      <p-avatar
        image="/assets/gemini-icon.png"
        class="ml-2 cursor-pointer"
        styleClass="flex justify-content-center"
        (click)="onGeminiClick()"></p-avatar>
    }
    <span class="spacer"></span>
    <app-user-button class="hidden lg:block"></app-user-button>
    <app-navbar-button class="hidden lg:block"></app-navbar-button>
  </mat-toolbar-row>
  <mat-toolbar-row
    class="overflow-x-scroll lg:overflow-x-hidden overflow-y-visible second-toolbar-row"
    [class.hidden]="!showFacets">
    <span class="spacer md:hidden lg:block"></span>
    <mat-chip-set class="block">
      @for (f of filters; track $index) {
        <mat-chip [removable]="true" (removed)="removeFilter(f)">
          {{ f.value }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      }
    </mat-chip-set>
    @if (loading) {
      <p-progressSpinner
        styleClass="w-1rem h-1rem"
        strokeWidth="5"
        fill="var(--surface-ground)"
        animationDuration="1s" />
    } @else {
      <div class="flex facet-container align-items-center">
        @for (facet of facets; track $index) {
          <p-dropdown
            [options]="facet.counts | facetCount | facetValue"
            [placeholder]="facet.field | facetFieldName"
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            (onChange)="onFacetChangeHandler($event, facet.field)"
            styleClass="line-height-1"
            class="mx-1"
            [showClear]="true" />
        }
        <p-button
          label="日期"
          size="small"
          severity="secondary"
          [rounded]="true"
          styleClass="mx-1 p-1 w-4rem"
          (onClick)="calendar.toggle($event)">
          <p-overlayPanel #calendar>
            <p-calendar
              class="max-w-full"
              [(ngModel)]="dateRange"
              selectionMode="range"
              [inline]="true"
              [minDate]="minDate"
              [showWeek]="true"
              (ngModelChange)="onDateRangeSelected()" />
          </p-overlayPanel>
        </p-button>
      </div>
    }
    <span class="spacer md:hidden lg:block"></span>
  </mat-toolbar-row>
</mat-toolbar>
