<mat-toolbar>
  <mat-toolbar-row>
    <p-avatar
      image="/assets/logo.png"
      styleClass="mr-2 cursor-pointer"
      size="large"
      shape="circle"
      (click)="goHome()" />
    <span class="spacer"></span>
    <!-- <p-iconField iconPosition="right" class="search-field"> -->
    <!-- <p-inputIcon styleClass="pi pi-search" (click)="onSearchClick()" /> -->
    <div class="flex align-items-center w-5">
      <input
        type="text"
        class="search-input"
        pInputText
        [(ngModel)]="query"
        (keydown.enter)="onSearchClick()"
        (ngModelChange)="queryChange.emit($event)" />
      <!-- </p-iconField> -->
      <p-button
        styleClass="mx-2"
        icon="pi pi-search"
        size="small"
        [outlined]="true"
        [rounded]="true"
        (onClick)="onSearchClick()" />
      <span class="spacer"></span>
    </div>
    <span class="spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row class="second-toolbar-row">
    <span class="spacer"></span>
    <mat-chip-set>
      <mat-chip *ngFor="let f of filters" class="mx-1">{{ f }}</mat-chip>
    </mat-chip-set>
    @if (loading) {
      <p-progressSpinner
        styleClass="w-1rem h-1rem"
        strokeWidth="5"
        fill="var(--surface-ground)"
        animationDuration="1s" />
    } @else {
      <div class="facet-container">
        <div *ngFor="let facet of facets">
          <p-dropdown
            [options]="facet.counts | facetCount | facetValue"
            [placeholder]="facet.field | facetFieldName"
            optionLabel="name"
            optionValue="value"
            (onChange)="onFacetChangeHandler($event, facet.field)"
            styleClass="line-height-1"
            class="mx-1"
            [showClear]="true" />
        </div>
      </div>
    }
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
