:host::ng-deep p-inputicon > .p-input-icon{
    top: 30%;
    font-size: large;
    cursor: pointer;
}

.search-field {
    flex: 2 2 auto;
}

.search-input {
    display: flex;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.second-toolbar-row {
    height: 36px;
}

.facet-container {
    display: flex;
    flex-direction: row;
}

:host::ng-deep .p-dropdown-clear-icon {
    position: inherit;
    top: 0%;
}

:host::ng-deep timesicon {
    align-items: center;
}

:host::ng-deep {
    $dropdown-font-size: 0.875rem;
    .p-dropdown {
        border-radius: 20px;
        height: 2rem;
    }

    .p-dropdown-label {
        font-size: $dropdown-font-size;
        padding: 0.45rem;
    }

    .p-dropdown-item {
        font-size: $dropdown-font-size;
    }
    .p-button-icon-only{
        height: 36px;
        width: 36px;
    }
}

.second-toolbar-row {
    min-height: 3rem;
}