<div class="hints mt-4 mb-3 text-xl flex flex-row flex-wrap align-items-center">
  <span class="mr-2"><b>試試:</b></span>
  @for (hint of hints.slice(0, 3); track hint) {
    <mat-chip
      class="hint-chip text-lg cursor-pointe mr-1 md:mr-2"
      (click)="goto(hint)">
      <b>{{ hint }}</b>
    </mat-chip>
  }
  @for (hint of hints.slice(3); track hint) {
    <mat-chip
      class="hint-chip text-lg cursor-pointe hidden md:block mr-1 md:mr-2"
      (click)="goto(hint)">
      <b>{{ hint }}</b>
    </mat-chip>
  }
</div>
