:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host::ng-deep {
    .p-fieldset-legend {
        padding: 0.2rem;
        a {
            padding: 0;
        }
    }
    .p-fieldset-content {
        padding: 0.5rem;
    }
}