<app-search-bar
  [query]="query"
  [facets]="facets"
  [filters]="filterArray"
  [loading]="loading"
  [showGemini]="true"
  (onSearch)="onSearch($event)"
  (onFacetChange)="onFacetChange($event)"
  (onGemini)="gotoGeminiChat()">
</app-search-bar>

<app-search-results
  [page]="currentPage"
  [result]="result"
  [loading]="loading"
  (onPageChange)="onPageChange($event)"
  (onGotoHashTag)="onGotoHashTag($event)"
  class="flex-grow-1 overflow-x-hidden">
  <ng-template appSmartSummaryCard>
    <app-smart-card
      class="block mb-4 p-2 w-full"
      [show]="showSmartCard"
      [legislatorRemark]="legislatorRemark"
      [topic]="aiTopic"
      (onSearch)="onSearch($event)"></app-smart-card>
  </ng-template>
</app-search-results>

<app-login-dialog
  #loginDialog
  [message]="loginDialogMessage"></app-login-dialog>
