:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host::ng-deep {
    .policy-card {
        background-color: var(--surface);
    }
    .policy-card.p-card {
        color: var(--surface-300);
    }
}