@import 'variables';


.hints {
    font-family: 'Google Sans';
}

.hint-chip {
    background-color: var(--primary-400) !important;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

:host::ng-deep .mdc-evolution-chip__action--presentational {
    cursor: pointer !important;
}


:host::ng-deep {

    .intro-card {
        .p-card-content {
            display: none;
        }
    }

    .intro-card {
        background-color: var(--surface);
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 24px;
        max-width: 280px;
        max-height: 240px;
    }

    .p-card {
        color: var(--surface-300);
    }

    .p-card-subtitle {
        color: var(--surface-200);
    }

    img.intro-icon {
        width: 80px;
    }

    .mat-toolbar{
        background-color: #0b151e;
    }

    .head-page  {
        height: calc(100% - 64px);
    }
    

    @media (min-width: $desktop-width) {
        .intro-card {
            max-width: 300px;
            max-height: 260px;
            width: 300px;
            margin-bottom: 100px;
            margin-bottom: 48px;
        }

        img.intro-icon {
            width: 120px;
        }

        .page {
            max-width: 800px;
            margin: auto;
        }

        .detail-card {
            max-width: 512px;
        }
    }

    .detail-card {
        background-color: var(--surface);
        color: var(--surface-200);
    }
}

.spacer {
    background:  linear-gradient(180deg, #0b151e 0%, #1e3040 35%, #55718a 100%);
}

.second-outer {
    background: #55718a;
}
