@import 'variables';


.hints {
    font-family: 'Google Sans';
}

.hint-chip {
    background-color: var(--primary-400) !important;
    cursor: pointer;
}

:host::ng-deep .mdc-evolution-chip__action--presentational{
    cursor: pointer !important;   
}

:host::ng-deep {

    .p-card-content {
        display: none;
    }

    .intro-card {
        background-color: var(--surface);
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 24px;
        max-width: 280px;
        max-height: 240px;
    }

    .p-card {
        color: var(--surface-300);
    }

    .p-card-subtitle{
        color: var(--surface-200);
    }

    img {
        width: 80px;
    }

    @media (min-width: $desktop-width) {
        .intro-card {
            max-width: 300px;
            max-height: 260px;
            width: 300px;
            margin-bottom: 100px;
            margin-bottom: 48px;
        }

        img {
            width: 120px;
        }
    }
}
