<div class="flex flex-row w-full align-items-center justify-content-center">
  <img alt="icon" class="w-1 mx-2" src="/assets/logo.png" />
  <h1 class="large-heading">立院知更</h1>
</div>
<div class="flex align-items-center justify-content-center mt-4">
  <p-iconField iconPosition="right" class="w-full">
    <p-inputIcon
      styleClass="pi pi-search cursor-pointer"
      (click)="onSearchClick()" />
    <input
      type="text"
      pInputText
      placeholder="搜尋..."
      class="w-full"
      [(ngModel)]="query"
      (keydown.enter)="onSearchClick()" />
  </p-iconField>
</div>
<div class="hints mt-4 mb-3 text-xl flex flex-row flex-wrap align-items-center">
  <span class="mr-1"><b>試試:</b></span>
  @for (hint of hints; track hint) {
    <mat-chip class="hint-chip text-lg cursor-pointe mx-2" (click)="goto(hint)">
      <b>{{ hint }}</b>
    </mat-chip>
  }
</div>
<div class="flex-grow-1"></div>
<div class="flex flex-column lg:flex-row">
  <p-card
    header="探索立院"
    subheader="快速搜尋，找出你關注的議題"
    styleClass="intro-card">
    <ng-template pTemplate="header">
      <div class="flex flex-row align-items-center justify-content-center">
        <img alt="Card" class="mt-4" src="assets/telescope_icon.png" />
      </div>
    </ng-template>
  </p-card>
  <p-card
    header="知識更新"
    subheader="重點摘要，幫你釐清事件脈絡"
    styleClass="intro-card">
    <ng-template pTemplate="header">
      <div class="flex flex-row align-items-center justify-content-center">
        <img alt="Card" class="mt-4" src="assets/pen_icon.png" />
      </div>
    </ng-template>
  </p-card>
</div>
